@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
body {
  background-color: rgb(143, 143, 143);
  color: #000;
}
.navbarheading {
  font-family: Redressed;
  font-size: 2.5rem;
  font-weight: bold;
}
.loginsignup {
  width: 12vw;
  display: flex;
  justify-content: space-around;
}
.snb {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.head {
  text-align: center;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}
