@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
body {
  background-color: rgb(43, 43, 43);
  color: #000;
}
.navbarheading {
  font-family: Redressed;
  font-size: 2.5rem;
  font-weight: bold;
}
.loginsignup {
  width: 12vw;
  display: flex;
  justify-content: space-around;
}
.snb {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.maps {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.map {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tableheadings {
  text-align: center;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  padding: 1rem;
}
.hospitaldesc > li {
  list-style-type: none;
}
